@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

i {
  font-style: normal; }

/* 头部 */
.header {
  width: 100%;
  height: 52px;
  background: #DDDDDD; }
  .header .header-img {
    width: 980px;
    margin: 0 auto; }
    .header .header-img .header-img-left {
      margin-left: 10px; }
    .header .header-img .header-img-right {
      float: right;
      margin-right: 40px;
      cursor: pointer; }
    .header .header-img img {
      margin-top: 10px; }
  .header .header-box {
    width: 980px;
    margin: 0 auto;
    position: relative; }
    .header .header-box .header-msg {
      width: 260px;
      padding: 20px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      position: absolute;
      right: 0px;
      top: 8px;
      z-index: 9999;
      display: none;
      /* 三角形 */
      /* 提示登录或注册 */ }
      .header .header-box .header-msg::before {
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        top: -20px;
        right: 42px;
        position: absolute; }
      .header .header-box .header-msg::before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #fff; }
      .header .header-box .header-msg h4 {
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0 10px 0; }
      .header .header-box .header-msg .header-msg-text1 {
        text-align: center;
        margin: 0 auto; }
        .header .header-box .header-msg .header-msg-text1 .header-btn a {
          width: 200px;
          height: 32px;
          font-size: 17px;
          margin: 10px 0 20px 0;
          line-height: 32px; }
        .header .header-box .header-msg .header-msg-text1 .msg-text1 {
          color: #ABABAB;
          font-size: 15px; }
        .header .header-box .header-msg .header-msg-text1 .msg-text2 {
          color: #00A1B2; }
      .header .header-box .header-msg .header-msg-text2 {
        text-align: center;
        margin: 0 auto; }
        .header .header-box .header-msg .header-msg-text2 span {
          color: #676767;
          font-size: 14px; }
        .header .header-box .header-msg .header-msg-text2 ul {
          margin-top: 10px; }
          .header .header-box .header-msg .header-msg-text2 ul i {
            float: right; }
          .header .header-box .header-msg .header-msg-text2 ul li {
            display: inline-block;
            width: 220px;
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid #ccc;
            text-align: left; }
            .header .header-box .header-msg .header-msg-text2 ul li a {
              color: #454545; }
            .header .header-box .header-msg .header-msg-text2 ul li a:hover {
              color: #00A1B2;
              transition: .2s;
              -webkit-transition: .2s; }

/* 按钮 */
.btn-blue {
  text-align: center; }
  .btn-blue a {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    width: 188px;
    background: #00A1B2;
    border-radius: 5px;
    font-size: 16px;
    color: #fff !important;
    text-overflow: ellipsis;
    border: none;
    outline: none; }
    .btn-blue a:active {
      background: #0a8d9b; }

/*  修改placeholder样式 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 15px;
  color: #bdbcbc; }

/* 输入框number类型去箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5; }

/*滚动条 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

/*滚动条 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }
