*{margin: 0;padding: 0;font-family: '微软雅黑';}
html,body{height:100%;}
.loginwhole{position: relative;height: 100%;z-index: 100;display: none;}
.shade{position: fixed;width: 100%;top: 0;height: 100%;background: #C2C2C2;opacity: 0.7;}
.login{width: 349px;background: #fff;position: relative;top: 10%;
  margin: 0 auto;padding: 40px 40px;border-radius: 10px;}
.title{text-align: center;font-size: 20px;margin-bottom: 20px;}
input{margin-top: 20px;display: inline-block;height: 48px;line-height: 48px;text-indent: 16px;
	border: 1px solid #9fa0a0;border-radius: 4px;}
.num,.pas{width: 349px;}
/*.code{display: inline-block;margin-left: 30px;}*/
.code{display: inline-block;margin-left: 30px;height: 48px;line-height: 48px;
	 padding: 0 20px;cursor: default;width: 120px;text-align: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;}
.tip{vertical-align: top;display: inline-block;line-height: 48px;margin-top: 20px;margin-left: 10px;
	cursor: pointer;-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;}
.btn{display: block;width: 349px;height: 48px;background: #9fa0a0;border:1px solid #9fa0a0;border-radius: 4px;
	color: #fff;line-height: 48px;font-size: 18px;}
.center{text-align: center;margin-top: 20px;}
.register{color: #00a1b2;}
.forget{display: inline-block;height: 48px;line-height: 48px;vertical-align: top;margin-top: 20px;
 margin-left: 100px;color: #00a1b2;}