.footer {
    width: 100%;
    background: #f3f3f3;
    position: relative;
    padding-bottom: 50px;
    margin-top: 80px;
    .footer-title-box {
        width: 980px;
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between; //左边第列标题
        .footer-text-one {
            margin-left: 70px;
        }
        .footer-text {
            li {
                margin: 0 80px 10px 0;
                font-size: 12px; //小标题
                color: #9c9c9c;
                a {
                    color: #9c9c9c;
                }
            } //大标题
            .footer-title {
                margin-bottom: 20px;
                a {
                    color: #676767;
                    font-size: 14px;
                    font-weight: 600;
                }
            } //副标题
            .footer-title2 {
                margin-top: 20px;
                color: #676767;
            }
        }
    }
    .hr1 {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50px;
        background: #cdcdcd;
    }
    .footer-company {
        position: relative;
        h4 {
            text-align: center;
            color: #676767;
        }
        .icp {
            display: flex;
            justify-content: center;
            h4 {
                margin: 0 20px;
            }
        } //横线
        .hr2 {
            top: 40px;
        }
        .hr3 {
            top: 175px;
        }
        .company-box {
            width: 980px;
            margin: 0 auto;
            padding-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            .company {
                margin: 0 40px;
                li {
                    margin: 10px 0 23px;
                    a {
                        color: #9c9c9c;
                        font-size: 12px;
                    }
                }
            } //空芯圆圈
            .circle {
                width: 6px;
                height: 5px;
                display: inline-block;
                background-color: #fff;
                border: 2px #9fa0a0 solid;
                margin: 0 3px;
                border-radius: 50%;
            }
        }
    }
    .relation {
        width: 980px;
        margin: 30px auto;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            li {
                margin: 0 30px;
                font-size: 14px;
                color: #9c9c9c;
            }
            img{
                margin: 0 10px;
                vertical-align:bottom;
            }
        }
    }
}