.add-Site {
    display: flex;
    justify-content: space-between;
    a {
        margin-top: 10px;
        color: #00a1b2;
    }
}

.site-box {
    margin-top: 20px;
    /* 编辑收货地址 */
    .compile-form {
        #form {
            span {
                color: #595757;
            }
            input {
                width: 550px; // height: 48px;
                margin-top: 20px;
                padding: 10px 0;
                font-size: 17px;
            }
            .province{
                margin-top: 20px;
                select{
                    width: 173px;
                    height: 30px;
                    margin-right: 10px;
                }
            }
            .site-textarea {
                display: flex;
                align-items: center;
                textarea {
                    width: 550px;
                    height: 150px;
                    margin-top: 20px;
                    font-size: 17px;
                }
            } //让个别input右对齐
            .right-input {
                margin-right: 15px;
            }
        }
        .site-btn {
            margin-top: 80px;
            a {
                width: 360px;
                height: 36px;
                line-height: 36px;
            }
        }
    }
    /* 保存后收货地址样式 */
    .my-site {
        /* 超出显示滚动条 */
        width: 700px;
        height: 470px;
        overflow: hidden;
        overflow: auto;
        .my-site-box {
            border: 2px solid #9FA0A0;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            margin-bottom: 10px;
            .my-site-text-right{
                padding-right: 30px;
            }
            .delete-id{
                display: none;
            }
            ul {
                .middle {
                    margin: 10px 0;
                    cursor: pointer;
                } //右边蓝色字体
                .blue-color {
                    cursor: pointer;
                    color: #00a1b2;
                }
                .delete-site {
                    cursor: pointer;
                    color: #e64545;
                }
                li {
                    color: #454545;
                }
            }
        }
    }

