/* 案例展示多页面公共样式 */
#caseText{
    max-width: 780px;
}
.top-img {
    img {
        width: 100%;
    }
}

.case-box {
    max-width: 980px;
    margin: 20px auto;
    margin-bottom: 100px;
    .text {
        width: 70px;
        color: #00A1B2;
        border-bottom: 1px solid #00A1B2;
        padding-bottom: 5px;
    }
    .text1 {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 600;
        color: #00A1B2;
        text-align: center;
    }
    .case-content {
        margin: 0 auto;
        .case-list {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
        }
        /************** 多页面公共样式结束*********************************** */
        //caseBox页面案例展示框样式
        .list {
            width: 320px;
            height: 384px;
            border: 1px solid #cdcdcd;
            border-radius: 5px;
            margin: 5px 0;
            color: #595757;
            font-size: 16px;
        } //案例展示框中间部分外边距
        .list-active {
            margin: 5px;
        } //案例展示框p标签公共样式
        p {
            padding: 10px 0 0 10px;
        }
        .list-text {
            color: #9fa0a0;
            font-size: 16px;
        } 
        //caseText页面样式
        .case-text {
            p {
                font-size: 14px;
                color: #595757;
            }
            img {
                margin-top: 20px;
                width: 100%;
            }
        }
        .case-text-bottom {
            p {
                font-size: 14px;
                color: #595757;
            }
            .case-msg-img {
                  margin: 0 auto;
                img {
                    margin-top: 18px;
                    width: 780px;
                }
            }
            margin-top: 20px;
            .case-text-left {
                float: left;
            }
            .case-text-right {
                float: right;
                margin-right: 40%;
            }
        }
    }
}