.top-img {
    img {
        width: 100%;
    }
}

.map-content {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    p {
        display: flex;
        margin-top: 10px;
        padding-bottom: 3px;
        color: #00A1B2;
        border-bottom: 1px solid #00A1B2;
        width: 50px;
    }
    h4 {
        margin: 70px 0 10px 0;
        color: #00A1B2;
    }
    .map-box {
        height: 614px;
        width: 960px;
        border: 1px solid #CACACA;
    }
}

.seek-idear {
    width: 980px;
    margin: 20px auto;
    hr {
        margin: 10px 0;
    }
    .seek-city {
        width: 340px;
        height: 32px;
        display: inline-block;
        float: left;
        p {
            margin-bottom: 5px;
        }
        select {
            width: 340px;
            height: 32px;
            overflow: hidden;
            overflow: auto;
            option {
                // height: 248px;
                color: #c9caca;
                font-size: 14px;
            }
        }
    }
    .seek-keywords {
        width: 610px;
        float: right;
        position: relative;
        p {
            margin-bottom: 5px;
        }
        input {
            width: 610px;
            border: 1px solid #cccccc;
            outline: none;
            height: 32px;
        }
        .seek-btn{
            position: absolute;
            width: 18px;
            height: 18px;
            display: inline-block;
            cursor: pointer;
            background: url(../../images/515151.png) no-repeat;
            top: 35px;
            right:10px;
        }
        .keywords-box {
            width: 610px;
            margin-top: 10px;
            height: 248px;
            overflow: hidden;
            overflow: auto;
            .keywords-text {
                width: 100%;
                height: 32px;
                background: #DDDDDD; //搜索标题
                p {
                    font-size: 14px;
                    line-height: 32px;
                    padding-left: 10px;
                }
            }
            .keywords-content {
                padding: 10px;
                border: 1px solid #cccccc;
                .keywords-content-box {
                    //搜索内容字体
                    p {
                        font-size: 14px;
                        color: #595757;
                    }
                    .keywords-map {
                        font-size: 18px;
                        color: #595757;
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
       //滚动条样式
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background-color: #F5F5F5;
        }
        /*滚动条 内阴影+圆角*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }
        /*滚动条 内阴影+圆角*/
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-color: #555;
        }
    }
}